body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding-top: 105px;
    padding-bottom: 105px;
    width: 100%;
    background-color: black;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    position: fixed;
    top: 0;
    background-color: wheat;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.left-section {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 25px;
    font-size: 10px;
    padding-left: 80px;
}

.left-section h1, .left-section i {
    cursor: pointer;
}

.middle-section {
    display: flex;
    justify-content: space-between;
    flex: 1;
    font-family: Arial, sans-serif, Helvetica;
    font-size: 10px;
    font-weight: 200;
    transition: background-color 0.15s, color 0.15s;
}

.middle-section button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 750;
}

.middle-section button:hover {
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}

.right-section {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
    flex: 0.7;
    gap: 2,5rem;
    padding-right: 75px;
}

.pdp {
    height: 50px;
    border-radius: 50%;
}

.right-section h1 {
    font-family: Arial, sans-serif, Helvetica;
    font-size: 18px;
    font-weight: bolder;
}

.right-section h1, .right-section img {
    cursor: pointer;
}

@media (max-width: 650px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .left-section {
        padding-left: 10px;
        display: flex;
        flex: 0.5;
        gap: 0;
        width: 0;
    }

    .left-section h1 {
        display: none;
    }

    .middle-section {
        min-width: 50px;
        flex:1;
    }

    .right-section {
        flex-shrink: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0.5;
    }

    .right-section h1 {
        display: none;
    }
}

.main-2023 {
    padding: 0;
    width: 100%;
    min-height: 80vh;
    background-color: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 750px) {
    .main-2023 {
        padding-bottom: 25vh;
    }
}

.video-2023 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    font-size: 15px;
    margin-bottom: 50px;
}

.video-title h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.video {
    width: 80%;
    max-width: 800px;
    height: auto;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 1); 
    display: flex;
    position: relative;
    margin-bottom: 100px;
}

.video-2023 video {
    width: 100%;
    height: 100%;
}

.video-description {
    text-align: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    font-size: 9px;
    font-weight: 200;
    color: white;
    font-family: "Roboto", sans-serif;
}

.main-2024 {
    width: 100%;
    min-height: 80vh;
    background-color: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.main-2024 .video-2024 {
    margin-top: 10vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-2024 .video {
    width: 80%;
    max-width: 800px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-2024 video {
    width: 100%;
    height: 100%;
}